@import '../../../public/styles/theme';

.button-label {
  position: relative;
}

.button__basic {
  align-items: center;
  background-color: transparent;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  font-family: $typography-secondary;
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 12px;
  min-height: 36px;
  outline: none;
  padding: 8px 40px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-in;

  &:before {
    transition: all 0.2s ease-in;
    transform-origin: left center;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.button__primary {
  color: $color-gray_dark;
  border-color: $color-primary;
  background-color: $color-primary;

  &:not(:disabled):hover {

  }
}

.button__secondary {
  color: $color-gray_dark;
  background-color: $color-secondary;
  border-color: $color-secondary;

  &:not(:disabled):hover {

  }
}

.button__tertiary {
  color: $color-gray_dark;
  background-color: $color-tertiary;
  border-color: $color-tertiary;

  &:not(:disabled):hover {

  }
}

.button__text {
  color: $color-gray_dark;
  border-color: transparent;
  background-color: transparent;
}
