@import '../../../../public/styles/theme';
@import '../../../../public/styles/global.scss';

.ui-project_wrapper {
  &:nth-child(even) {
    background-color: $color-gray_200;
  }

  &:nth-child(odd) {
    background-color: $color-gray_100;
  }
}

.ui-project-title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.ui-project_title {
  width: 100%;
  font-weight: 600;
}

.ui-project {
  @extend .limit-width;
}

.ui-project_chevron {
  color: $color-gray_dark;
  font-size: 12px;
  transition: all .2s ease-out;

  &.editing {
    transform: rotate(90deg);
  }
}
