.ui-presentation_wrapper {
  position: relative;
  padding: 8px;

  &.loading {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: white;
      opacity: 0.6;
    }
  }
}
