* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*::selection {
  background-color: indigo;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  font-family: sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

