@import '../styles/theme';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*::selection {
  background-color: $color-secondary;
  color: $color-gray_dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  font-family: sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

.limit-width {
  max-width: $viewport-width;
  margin: 0 auto !important;
}

.admin-section_title {
  @extend .limit-width;

  padding: 20px;
}
