$typography-primary: Montserrat, sans-serif;
$typography-secondary: Montserrat, sans-serif;

$color-primary: indigo;
$color-secondary: #2FD6E5;
$color-tertiary: green;
$color-gray_100: #FCFCFC;
$color-gray_200: #EDEFF2;
$color-gray_300: #E4E6EA;
$color-gray_400: #C0C5CE;
$color-gray_500: #A7ADBA;
$color-gray_600: #65737E;
$color-gray_700: #4F5B66;
$color-gray_800: #343D46;
